*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@media (max-width: 575.98px) {
     form{
        margin-left:50rem;
        margin-right:50rem;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    form{
        margin-left:50rem;
        margin-right:50rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     form{
        margin-left:50rem;
        margin-right:50rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    form{
        margin-left:50rem;
        margin-right:50rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    form{
        margin-left:50rem;
        margin-right:50rem;
    }
}
